<nav class="navbar fixed-top navbar-expand-lg bg-maroon navbar-light">
    <a class="navbar-brand" href="#">Locale-Etherium</a>
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/process/listpost">Posts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/public/listuser.html">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/process/listorder">Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
        </li>
        <form class="form-inline my-2 my-lg-0">
            <% if (user==null) { %>
            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Sign in</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Sign up</a>
            <% } else if (user && (user.email)) { %>
            <a href="/logout" class="btn btn-default"><span class="fa fa-user"></span>logout</a>
            <% } %>
        </form>
    </ul>
</nav>