<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
		
		<title>Home</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    	
    	<style>
        	body { padding-top:80px; }
        	
			@font-face {
				font-family: 'Nanum Gothic'; font-style: normal; font-weight: 400;
				src: url('../public/NanumGothic-Regular.eot');
				src: local('NanumGothic'),
					url('../public/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
					url('../public/NanumGothic-Regular.woff2') format('woff2'),
					url('../public/NanumGothic-Regular.woff') format('woff'),
					url('../public/NanumGothic-Regular.ttf') format('truetype');
			}
        	
        	h1, p, a { font-family: 'Nanum Gothic' }
    	</style>
    
	</head>
	<body>
		<div class="container">
                <nav class = "navbar fixed-top navbar-expand-lg bg-maroon navbar-light">
                        <a class="navbar-brand" href="#">Locale-Etherium</a>
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/process/listpost">Posts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/public/listuser.html">Users</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/public/listorder.html">Orders</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/profile">Profile</a>
                            </li>
                            <form class="form-inline my-2 my-lg-0">
                            <% if (login_success) { %>
                              <a href="/logout" class="btn btn-default"><span class="fa fa-user"></span>logout</a>
                            <% } else { %>
                               <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Sign in</a>
                                <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Sign up</a>
                            <% } %>    
                            </form>
                        </ul>
                    </nav>
		    <div class="jumbotron text-center">
		        <h1><span class="fa fa-shopping-cart"></span> Home page</h1>
				<br>
				<% if (login_success) { %>
					<p>you're already logged in</p>
					<br>
					<a href="/logout" class="btn btn-default"><span class="fa fa-user"></span>logout</a>
				<% } else { %>
					<p>Please sign in.<p>
					<p>If you don't have an account, Please Sign up.</p>
					<br>
			        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Sign in</a>
			        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Sign up</a>
					<br>
					<a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Sign in by facebook</a>
				<% } %>
				
		    </div>
		
		</div>
	</body>
</html>