<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
		
		<title>Sign in page</title>
		<% include ./bootstrap.ejs %>
    
	</head>
	<body>
		<% include ./header.ejs %>
		
		<div class="container">			
						
			<div class="col-sm-6 col-sm-offset-3">
			
			    <h1><span class="fa fa-sign-in"></span> Sign in</h1>
			
			    <!-- if there's message after authentication, it will be shown -->
			    <% if (message.length > 0) { %>
			        <div class="alert alert-danger"><%= message %></div>
			    <% } %>
 
			    <form action="/signup" method="post" >
			        <div class="form-group">
			            <label>Email</label>
			            <input type="text" class="form-control" name="email">
			        </div>
			        <div class="form-group">
			            <label>Password</label>
			            <input type="password" class="form-control" name="password">
			        </div>
			        <div class="form-group">
							<label>Nickname</label>
							<input type="text" class="form-control" name="name">
						</div>
						<div class="form-group">
							<label>Country</label>
							<input type="text" class="form-control" name="country">
						</div>
			        <button type="submit" class="btn btn-warning btn-lg">Sign Up</button>
			    </form>
			
			    <hr>
			
			    <p>You already have ID? <a href="/login">Sign in</a></p>
			    <p><a href="/">Home</a>.</p>
			
			</div>
			
		</div>	
			
	</body>
</html>